<!DOCTYPE html>
<html lang="en">
<head>
  <% include ../common/nav.ejs %>
</head>
<body class="container">
  <main>
      <div class="jumbotron">
        <h2><p class="text-center">About页面</p></h2>
        <p>hello, <%= name %>, your ID is <%= id %></p>
        <div class="row">
          <div class="col-sm-12 col-md-12">
            <div class="thumbnail">
              <img src="/public/imgs/logo.png" />
            </div>
          </div>
        </div>
      </div>
  </main>
</body>
<script id="test_list" type="text/html">  

    var p =[1,2,3];
    for(var i = 0, l = p.list.length; i < l; i++){  
        var stu = p.list[i];  

   
 
    }  

</script>  

<footer>
  <% include ../common/footer.ejs %>
</footer>
</html>



