<!DOCTYPE html>
<html lang="en">
<head>
  <% include ../common/nav.ejs %>
</head>
<body class="container">
  <main>
      <div class="jumbotron">
        <h1>This is Home Page</h1>
        <p>Welcome to templating using EJS</p>
      </div>
  </main>
</body>
<footer>
  <% include ../common/footer.ejs %>
</footer>
</html>
